<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PlatziSquare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/lugares">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <!--routerLinkActive para resaltar el routerLinkActive de la navegacion-->
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/detalle">Detalle</a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
      </ul>
    </div>
  </nav>
<br/>
    <router-outlet></router-outlet>


