<agm-map [zoom]="8" [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/nuevo">Crear Nuevo Negocio</a>
      <!--La diagonal en la ruta /crear es para que tome la raiz y no ocurra el problema de lugares/crear-->
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <!-- creamos un link que pasara el id, y redireccionara al router asignado en routing-->
          <!--query params para los parametros y le pasa por decir asi un permiso para ver:view, editar:edit-->
            <li class="list-group-item">
              <a routerLink="/crear/{{lugar.id}}">
              <h3>{{lugar.nombre | lowercase}}
              </h3><span class="glyphicon glyphicon-star pull-right" *ngIf="lugar.plan == 'pagado'">P</span></a>
              <br />
              <small>Creado: {{lugar.id | date:'medium' | uppercase }}</small>
              <!--Linkifyjs nos permite que si en un texto, existen vinculos, el los separa y hace clickeables
              npm install linkifyjs-->
              <p>{{lugar.descripcion}}</p>
            </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
            <div class="bg-warning padding" *ngIf="lugar.plan == 'pagado'">
              <a routerLink="/crear/{{lugar.id}}"></a>
              <p>{{lugar.descripcion}}</p>
            </div>
        </ng-container>
    </div>
  </div>
</div>
