<agm-map [zoom]="8" [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/nuevo">Crear Nuevo Negocio</a>
      <!--La diagonal en la ruta /crear es para que tome la raiz y no ocurra el problema de lugares/crear-->
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <!-- creamos un link que pasara el id, y redireccionara al router asignado en routing-->
          <!--query params para los parametros y le pasa por decir asi un permiso para ver:view, editar:edit-->
          <a routerLink="/crear/{{lugar.id}}">
            <li class="list-group-item">
              <!--lowecase - minuscula
                  uppercase - mayuscula
                  date - fecha
                -->
              id: {{lugar.id}} lugar: {{lugar.nombre | lowercase}}
              <br />
              <small>Creado: {{lugar.id | date | uppercase }}</small>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
