<div class="card">
    <div class="card-body">
        <a routerLink="/lugares">Lugares</a>/Crear lugar
    </div>
  </div>
<div class="container">
  <br/>
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre">
  <br/>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
  <br/>
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
  <br/>
  <label>Descripcion</label>
  <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <br/>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan">
  <h3>Datos de direccion</h3>
  <div class="form-group">
      <div class="card card-body bg-light">
        <label>Buscar dirección en Google Maps</label>
        <input type="text" class="form-control" [formControl]="searchField">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let result of results | async" (click)="seleccionarDireccion(result)">
            {{result.formatted_address}}
          </li>
        </ul>
      </div>
    </div>
  <label>Calle</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.calle">
  <br/>
  <label>Ciudad</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
  <br/>
  <label>Pais</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.pais">
  <br/>
  <hr/>
  <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>

</div>
